@use 'variables' as *;
@use 'mixins' as *;

body {
    @include body-parameters;
    @include fonts;
}

.search-section {
    @include secondary-parameters;
    @include fonts;
}

header {
    @include basic-parameters;
    @include fonts;
}


.movie {
    @include movie-card-parameters;
    @include fonts;
}

#results {
    @include results-parameters;
    @include fonts;
}


input[type="text"] {
    @include search-input-parameters;
    @include fonts;
}

.error {
    @include error-parameters;
    @include fonts;
}

@media (max-width: 600px) {
    .movie {
        width: 150px;
        min-width: 150px;
    }

    input[type="text"] {
        width: 90%;
    }

    header h1 {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .movie {
        width: 120px;
        min-width: 120px;
    }

    input[type="text"] {
        width: 95%;
    }

    header h1 {
        font-size: 18px;
    }
}

